<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <Uzduotis msg="Welcome to Task page." />
  </div>
</template>

<script>
// @ is an alias to /src
import Uzduotis from "@/components/Uzduotis.vue";

export default {
  name: "uzduotis",
  components: {
    Uzduotis
  }
};
</script>
