<template>
  <div class="container">
		<h1>Aardvark Roulette game API demo</h1>
		<form role="form">
			<div class="form-group">
				<label for="api_base">API base URL</label>
				<input class="form-control" id="api_base" value="https://dev-games-backend.advbet.com/v1/ab-roulette/1/">
			</div>	
		</form>
		<div class="row">
			<div class="col-xs-12">
			<h4>Stats (last 200)</h4>
			<table id="stats" class="table">
			</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h4>Game board</h4>
				<div class="row">
					<div class="col-xs-10">
						<div id="game_board" class="row"></div>
					</div>
					<div class="col-xs-2">
						<div id="spinner" style="height: 100px"></div>
					</div>
				</div>
				<h4>Events</h4>
				<ul id="event_box" class="list-group">
				</ul>
			</div>
			<div class="col-xs-6">
				<h4>Log</h4>
				<!--ul id="log_box" class="list-group">
				</ul-->
				<pre id="log_box"></pre>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import axios from 'axios';
import axiosRetry from 'axios-retry';
import { Spinner } from 'spin.js';

@Component
export default class Uzduotis extends Vue {
  @Prop() private msg!: string;
  private board = [];
  private configuration: any;
  private glob: any;
  private numberId: any;
  constructor() {
	super();
	axiosRetry(axios, { retryDelay: () => 10000, retries: 300, retryCondition: axiosRetry.isNetworkError || axiosRetry.isRetryableError });
  }

  public mounted() {
	this.init();
  }

  public start_spinning() {
	this.local_log("Spinning the wheel")
	if (this.glob["spinner"] !== null) {
		this.local_log("Wheel is already spinning ;\\")
		return;
	}
	var spinner = document.getElementById('spinner');
	if (spinner) {
		this.glob["spinner"] = new Spinner({}).spin(spinner);
	} else {
		throw this.local_log('Error occured starting the game... refresh the window');
	}
	}
  
  public stop_spinning() {
		this.local_log("Stopping the wheel");
		this.glob["spinner"].stop();
		this.glob["spinner"] = null;
	}

  public async load_board() {
    this.local_log("Loading game board");
	const response = await axios.get(`${this.glob["api_base"]}configuration`)
		.catch ( (err) => {
			if (err.response) {
				console.log(`Error responding: ${err.response.data}`);
			} else if (err.request) {
				console.log(`Error with request, req made, no response received: ${err.request}`);
			} else {
				console.log(`Something has happened unexpected: ${err.message}`)
			}
		});
	if (response && response.data) {
		this.configuration = response.data;
	} else {
		throw 'Error occured';
	}
    var div = document.getElementById('game_board');
	let data = this.configuration;
	if (div) {
		for (let i = 0; i < data["positionToId"].length; i++) {
			var id = data["positionToId"][i];
			div.innerHTML += `<button data-id="slot-${id}" id="slot-${id}" type="button" class="col-xs-1 btn btn-${data["colors"][id]}">${data["results"][id]}</button>`;
		}
	}
    this.glob["config"] = data;
  }

	// seems done
  public async update_stats() {
	const response = await axios.get(`${this.glob["api_base"]}stats?limit=200`)
		.catch ( (err) => {
			if (err.response) {
				console.log(`Error responding: ${err.response.data}`);
			} else if (err.request) {
				console.log(`Error with request, req made, no response received: ${err.request}`);
			} else {
				console.log(`Something has happened unexpected: ${err.message}`)
			}
		});

		if (response && response.data) {
			let statsDiv = document.getElementById('stats');
			if (statsDiv) {
				statsDiv.innerHTML = `<tr><td>&nbsp</td><th colspan="5" class="cold">Cold</th><th colspan="${response.data.length - 10}" class="neutral">Neutral</th colspan="5"><th colspan="5" class="hot">Hot</th></tr>`
				statsDiv.innerHTML += this.headerNumbersFormCalculationsHtml(response.data);
			}
		} else {
			throw 'Error occured...';
		}
	}

	public headerNumbersFormCalculationsHtml(input: any): string {
		let html_str = '<tr><th>Slot</th>';
		for (let i = 0; i < input.length; i++) {
			let id = input[i]["result"];
			html_str += `<td class="btn-${this.glob["config"]["colors"][id]}">${this.glob["config"]["results"][id]}</td>`;
		}
		html_str += '<tr><th>Hits</th>';
		for (let i = 0; i < input.length; i++) {
			let color = '';
			if (i < 5) {
				color = 'cold';
			} else if (i >= input.length - 5) {
				color = 'hot';
			}	else {
				color = 'neutral';
			}
			html_str += `<td class="${color}">${input[i]["count"]}</td>`;
		}
		html_str += '</tr>';
		return html_str;
	}

	public async new_game() {
		this.local_log("Checking for new game");
		if (!this.glob["first_run"]) {
			await this.update_stats();
		}
		const response = await axios.get(`${this.glob["api_base"]}nextGame`)
			.catch ( (err) => {
				if (err.response) {
					console.log(`Error responding: ${err.response.data}`);
				} else if (err.request) {
					console.log(`Error with request, req made, no response received: ${err.request}`);
				} else {
					console.log(`Something has happened unexpected: ${err.message}`)
				}
			});
		if (response && response.data) {
			if (this.glob["first_run"]) {
				await this.update_stats();
				this.glob["first_run"] = false;
			}
			let elem = document.createElement('li'); // va cia yra pornucha kuria reikia supaprastinti
			elem.className = 'list-group-item';
			let event_box = document.getElementById('event_box');
			if (event_box) {
				event_box.append(elem);
				await this.wait_for_game(response.data, elem);
			} else {
				this.local_log('Error occured while getting element event_box');
			}			
		} else {
			this.local_log(`Error, sleeping for ${this.glob["retry_timer"]} and retrying`);
			setTimeout( async () => {
				await this.new_game()
			}, this.glob["retry_timer"]);
		}
	}

	public async wait_for_game(game: any, li_elem: HTMLElement) {
		if (game["fakeStartDelta"] <= 0) {
			await this.start_game(game, li_elem);
			return;
		}

		this.local_log(`sleeping for fakeStartDelta ${game["fakeStartDelta"]} sec`);
		var timer_id = setInterval( () => {
			game["fakeStartDelta"] -= 1;
			if (game["fakeStartDelta"] > 0) {
				li_elem.innerHTML = `Game ${game["id"]} will start in ${game["fakeStartDelta"]} sec`;
				return;
			}
			clearInterval(timer_id);
			this.start_game(game, li_elem);		
		}, 1000);
	}

	public async start_game(game: any, li_elem: any) {
		const response = await axios.get(`${this.glob["api_base"]}game/${game["id"]}`)
			.catch ( (err) => {
					if (err.response) {
						console.log(`Error responding: ${err.response.data}`);
					} else if (err.request) {
						console.log(`Error with request, req made, no response received: ${err.request}`);
					} else {
						console.log(`Something has happened unexpected: ${err.message}`)
					}
				});
		
		this.start_spinning();
		li_elem.innerHTML = `Game ${game["id"]}, the wheel is spinning`;
		if (response && response.data) {
			if (response.data["result"] === null) {
				this.local_log("Still no result continue spinning")
				setTimeout(async () => await this.start_game(game, li_elem), this.glob["retry_timer"]);
			} else {
				this.local_log("Result is " + response.data["result"])
				let el = document.getElementById(`slot-${response.data["result"]}`);
				this.animate(el!);
				li_elem.innerHTML = `Game ${game["id"]} ended, result is ${response.data["result"]}`;
				this.stop_spinning();
				await this.new_game();
			}
		} else {
			this.local_log("Error getting results for spinning. reloading.");
			setTimeout(async () => await this.start_game(game, li_elem), this.glob["retry_timer"]);
		}
	}
	// seems done
	public animate(elem: HTMLElement) {
		let x = 0;
		let timer = setInterval( () => {
			if (x == 5) {
				clearInterval(timer);
			} else {
				x++;
				elem.style.transition = 'opacity .4s';
				elem.style.opacity = '0.2';
				setTimeout(() => {
					elem.style.opacity = '1.0';
				}, 500);
			}
		}, 600)
	}

	public local_log(data: any) {
		var now = new Date();
		var div = document.getElementById('log_box');
		if (div) {
			div.innerHTML += `${now.toISOString()} ${data} <br />`;
		} else {
			this.local_log('Error occured while trying to get element.');
		}
	}

	public init() {
		this.glob = {
		"api_base": "https://dev-games-backend.advbet.com/v1/ab-roulette/1/",
		"headers": {},
		"retry_timer": 5000,
		"config": {},
		"stats_limit": 100,
		"first_run": true,
		"spinner": null
	}
		this.local_log(`GET .../${this.glob["api_base"].substring(this.glob["api_base"].length)}`); // cia reik to ka gettina 
		this.load_board();
		this.new_game();
	}
}
</script>

<style>
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css";

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0.3;
  transition: opacity 500ms;
}

.cold { background-color: #D9EDF7 }

.neutral { background-color: #F5F5F5 }

.hot { background-color: #F2DEDE; }

.btn-black {
	color: #FFF;
	background-color: #000000;
	border-color: #222222;
}
.btn-red {
	color: #FFF;
	background-color: #D9534F;
	border-color: #AC2925;
}
.btn-green {
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;
}
</style>
